body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #245;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ffffff;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 18px;
    margin-top: 20px;
    color: #ffffff;
}
/* Style the back button */
.back-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #555;
    border: none;
    cursor: pointer;
}

/* Change color on hover */
.back-button:hover {
    background-color: #777;
}

/* Change color when active */
.back-button:active {
    background-color: #444;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 120px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}
* {
    font-family: Century Gothic;
}
